/*
 *
 *		COLOR-6.CSS
 *
 */
 
/***********************************************************************************
 *	+ TYPOGRAPHY
 ***********************************************************************************/
 
	body {
		background-color: #fff;
		color: #595959;
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #261106;
	}
	
	h1 a, 
	h2 a, 
	h3 a, 
	h4 a, 
	h5 a, 
	h6 a {
		color: #261106;
	}
	
	h1 a:hover, 
	h2 a:hover, 
	h3 a:hover, 
	h4 a:hover, 
	h5 a:hover, 
	h6 a:hover {
		color: #9f8c5f;
	}
	
	h1 small,
	h2 small,
	h3 small,
	h4 small,
	h5 small,
	h6 small {
		color: inherit;
	}
	
	
	/* LINKS */
	a {
		color: #9f8c5f;
	}
	
	a:hover,
	a:focus {
		color: #9f8c5f;
	}
	
	
	/* ADDRESS */
	address {
		line-height: inherit;
	}
	
	
	/* FORMS */
	input,
	select,
	textarea {
		border-color: #d3d7dd;
	}	
	
	textarea:focus,
	input[type="url"]:focus,
	input[type="tel"]:focus,
	input[type="date"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="week"]:focus,
	input[type="month"]:focus,
	input[type="text"]:focus,
	input[type="color"]:focus,
	input[type="email"]:focus,
	input[type="image"]:focus,
	input[type="number"]:focus,
	input[type="search"]:focus,
	input[type="password"]:focus {
		border-color: #9f8c5f;
	}
	
	button,
	input[type="reset"],
	input[type="submit"],
	input[type="button"] {
		background-color: #9f8c5f;
		color: #fff;
	}
	
	button:hover,
	input[type="reset"]:hover,
	input[type="submit"]:hover,
	input[type="button"]:hover {
		background-color: #261106;
	}
	
	::-moz-placeholder {
	}
	
	::-webkit-input-placeholder {
	}
	
	:-ms-input-placeholder {
	}
	
	
	/* TRANFORMATION CLASSES */
	.text-mute {
		color: #bebebe;
	}
	
	.text-default-color {
		color: #9f8c5f;
	}
	
	.text-highlight {
		background-color: #9f8c5f;
		color: #fff;
	}
	
/***********************************************************************************
 *	+ HEADLINE
 ***********************************************************************************/
	
	.headline:after {
		border-bottom-color: #9f8c5f;
	}
	
	.headline h1,
	.headline h2,
	.headline h3,
	.headline h4,
	.headline h5,
	.headline h6 {
		border-bottom-color: #d3d7dd;
	}

/***********************************************************************************
 *	+ ALERTS
 ***********************************************************************************/
 
	.alert {
		color: #261106;
	}

	.alert.alert-info {
		border-color: #9f8c5f;
		background-color: #fff;
		color: #261106;
	}

	.alert.alert-danger {
		background-color: #f24620;
		color: #fff;
	}

	.alert.alert-success {
		background-color: #9f8c5f;
		color: #fff;
	}

	.alert.alert-warning {
		background-color: #ffb400;
		color: #fff;
	}
	
/***********************************************************************************
 *	+ LISTS
 ***********************************************************************************/
	
	/* BULLET LIST */
	.bullet-list li:before {
		background-color: #9f8c5f;
	}
	
	
	/* SQUARE LIST */
	.square-list li:before {
		border-color: #9f8c5f;
	}
	
	.square-list li:hover {
		color: #261106;
	}
	
	.square-list li:hover:before {
		border-color: #261106;
	}
	
	
	/* SERVICES LIST */
	.services-list li i {
		color: #9f8c5f;
	}

/***********************************************************************************
 *	+ BUTTONS
 ***********************************************************************************/
	
	.btn:after {
		border-left-color: #fff;
	}
	
	
	/* DEFAULT */
	.btn-default {
		background-color: #9f8c5f;
		color: #fff;
	}
	
	.btn-default:before {
		background-color: #261106;
	}
	
	.btn-default:hover,
	.btn-default:focus,
	.btn-default:active:focus {
		background-color: #9f8c5f;
		color: #fff;
	}
	
	
	/* BLACK */
	.btn-black {
		background-color: #261106;
		color: #fff;
	}
	
	.btn-black:before {
		background-color: #9f8c5f;
	}
	
	.btn-black:hover,
	.btn-black:active:focus {
		color: #fff;
	}
	
	
	/* WHITE */
	.btn-white,
	.btn-white:active {
		border-color: #9f8c5f;
		background-color: transparent;
		color: #9f8c5f;
	}
	
	.btn-white:after {
		border-left-color: #9f8c5f;
	}
	
	.btn-white:before {
		background-color: #9f8c5f;
	}
	
	.btn-white:hover {
		color: #fff;
	}
	
	.btn-white:hover:after {
		border-left-color: #fff;
	}
	
/***********************************************************************************
 *	+ DIVIDERS
 ***********************************************************************************/
	
	.hr {
		border-bottom-color: #d3d7dd;
	}
	
	.hr.default-color {
		border-bottom-color: #9f8c5f;
	}
	
	.hr.black-color {
		border-bottom-color: #261106;
	}
	
	.hr.with-logo:before {
		border-bottom-color: #9f8c5f;
	}
	
	.hr.with-logo:after {
		background-color: #fff;
		content: url(../../images/symbol.png);
	}
	
/***********************************************************************************
 *	+ TEXT BOXES
 ***********************************************************************************/
	
	.text-box {
		border-color: #d3d7dd;
	}
	
	.text-box.black {
		border-color: #1a0b03;
		background-color: #1a0b03;
	}
	
	.text-box.default-color {
		border-color: #9f8c5f;
		background-color: #9f8c5f;
	}
	
	.text-box.black,
	.text-box.default-color {
		color: #fff;
	}
	
	.text-box.black a,
	.text-box.default-color a,
	.text-box.black h1,
	.text-box.default-color h1,
	.text-box.black h2,
	.text-box.default-color h2,
	.text-box.black h3,
	.text-box.default-color h3,
	.text-box.black h4,
	.text-box.default-color h4,
	.text-box.black h5,
	.text-box.default-color h5,
	.text-box.black h6,
	.text-box.default-color h6 {
		color: inherit;
	}
	
	.text-box.black a:hover,
	.text-box.default-color a:hover {
		color: #9f8c5f;
	}
	
	.text-box.black .btn-white,
	.text-box.default-color .btn-white,
	.text-box.black .btn-white:after,
	.text-box.default-color .btn-white:after {
		border-color: #fff;
	}
	
	.text-box.black .btn-default:before,
	.text-box.default-color .btn-default:before,
	.text-box.black .btn-black:before,
	.text-box.default-color .btn-black:before,
	.text-box.black .btn-white:before,
	.text-box.default-color .btn-white:before {
		background-color: #fff;
	}
	
	.text-box.black .btn-default:hover:after,
	.text-box.default-color .btn-default:hover:after,
	.text-box.black .btn-black:hover:after,
	.text-box.default-color .btn-black:hover:after,
	.text-box.black .btn-white:hover:after,
	.text-box.default-color .btn-white:hover:after {
		border-left-color: #9f8c5f;
	}
	
/***********************************************************************************
 *	+ IMAGES BOXES
 ***********************************************************************************/
	
	.image-box {
		background-color: #fff;
		box-shadow: 0 -8px 49px 0 rgba(0, 0, 0, 0.13);
	}
	
	.image-box-thumbnail:before {
		background-color: rgba(26, 11, 3, 0.9);
		background-image: url(../../images/symbol-2.png);
	}
	
	.image-box h6 {
		color: #9f8c5f;
	}
	
	.image-box a:hover {
		color: #261106;
	}
	
/***********************************************************************************
 *	+ ACCORDION
 ***********************************************************************************/
	
	.panel {
		background-color: transparent;
	}
	
	.panel-heading {
		background-color: transparent;
	}
	
	.panel-title,
	.panel-title:focus {
		border-color: #9f8c5f;
		color: #261106;
	}
	
	.panel-title:hover,
	.panel-title[aria-expanded="true"] {
		background-color: #9f8c5f;
		color: #fff;
	}
	
	.panel-title[aria-expanded="true"]:before {
		background-color: #fff;
	}
 
/***********************************************************************************
 *	+ TABS
 ***********************************************************************************/
	
	.nav-tabs > li > a {
		border-color: transparent;
		color: #261106;
	}
	
	.nav-tabs > li > a:hover,
	.nav-tabs > li > a:focus {
		border-color: transparent;
		background-color: transparent;
		color: #9f8c5f;
	}
	
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus {
		color: #9f8c5f;
	}
	
/***********************************************************************************
 *	+ SOCIAL MEDIA
 ***********************************************************************************/
	
	.social-media a {
		color: #261106;
	}
	
	.social-media a.facebook:hover { color: #0e59a0 !important; }
	.social-media a.twitter:hover { color: #0ea4ff !important; }
	.social-media a.dribbble:hover { color: #ea73a0 !important; }
	.social-media a.pinterest:hover { color: #d73532 !important; }
	.social-media a.google:hover { color: #da4835 !important; }
	.social-media a.tumblr:hover { color: #2a445f !important; }
	.social-media a.instagram:hover { color: #82685a !important; }
	.social-media a.rss:hover { color: #f79638 !important; }
	.social-media a.linkedin:hover { color: #018faf !important; }
	.social-media a.skype:hover { color: #00b0f6 !important; }
	.social-media a.flickr:hover { color: #0061db !important; }
	.social-media a.vimeo:hover { color: #4cb2d9 !important; }
	.social-media a.github:hover { color: #3b3b3b !important; }
	.social-media a.youtube:hover { color: #cc181e !important; }
	.social-media a.windows:hover { color: #6dc2e9 !important; }
	.social-media a.dropbox:hover { color: #007ee5 !important; }
	.social-media a.xing:hover { color: #026566 !important; }
	.social-media a.adn:hover { color: #1ea076 !important; }
	.social-media a.android:hover { color: #98cb02 !important; }
	.social-media a.apple:hover { color: #a6b1b7 !important; }
	.social-media a.behance:hover { color: #2d9ad2 !important; }
	.social-media a.bitbucket:hover { color: #214f81 !important; }
	.social-media a.bitcoin:hover { color: #f7931b !important; }
	.social-media a.codepan:hover { color: #000 !important; }
	.social-media a.css3:hover { color: #3289ce !important; }
	.social-media a.delicious:hover { color: #3399fe !important; }
	.social-media a.deviantart:hover { color: #c8da30 !important; }
	.social-media a.digg:hover { color: #0080c2 !important; }
	.social-media a.drupal:hover { color: #0077b9 !important; }
	.social-media a.empire:hover { color: #000 !important; }
	.social-media a.foursquare:hover { color: #daecb0 !important; }
	.social-media a.git:hover { color: #f34f29 !important; }
	.social-media a.gitti:hover { color: #634c3e !important; }
	.social-media a.hacker-news:hover { color: #f18642 !important; }
	.social-media a.html5:hover { color: #e54c1f !important; }
	.social-media a.joomla:hover { color: #016fb9 !important; }
	.social-media a.jsfiddle:hover { color: #4679a4 !important; }
	.social-media a.linux:hover { color: #fece0e !important; }
	.social-media a.maxcdn:hover { color: #f36f20 !important; }
	.social-media a.openid:hover { color: #fe6101 !important; }
	.social-media a.pagelines:hover { color: #3783e3 !important; }
	.social-media a.pied-piper:hover { color: #0c7b48 !important; }
	.social-media a.qq:hover { color: #23286c !important; }
	.social-media a.rebel:hover { color: #000 !important; }
	.social-media a.reddit:hover { color: #cee3f8 !important; }
	.social-media a.renren:hover { color: #0d81e4 !important; }
	.social-media a.share:hover { color: #252525 !important; }
	.social-media a.slack:hover { color: #453744 !important; }
	.social-media a.soundcloud:hover { color: #fe4e00 !important; }
	.social-media a.spotify:hover { color: #80bb41 !important; }
	.social-media a.stack-exchange:hover { color: #265a93 !important; }
	.social-media a.stackoverflow:hover { color: #fea501 !important; }
	.social-media a.steam:hover { color: #191919 !important; }
	.social-media a.stumbleupon:hover { color: #f04f23 !important; }
	.social-media a.tencent-weibo:hover { color: #0063a7 !important; }
	.social-media a.trello:hover { color: #226784 !important; }
	.social-media a.vine:hover { color: #00b081 !important; }
	.social-media a.vk:hover { color: #50769d !important; }
	.social-media a.wechat:hover { color: #a4dc31 !important; }
	.social-media a.weibo:hover { color: #d82828 !important; }
	.social-media a.wordpress:hover { color: #454442 !important; }
	.social-media a.yahoo:hover { color: #4b04a8 !important; }
	.social-media a.ftpx:hover { color: #000 !important; }
	.social-media a.amazon:hover { color: #ff9900 !important; }
	.social-media a.angellist:hover { color: #000 !important; }
	.social-media a.btc:hover { color: #f7931b !important; }
	.social-media a.black-tie:hover { color: #000 !important; }
	.social-media a.bluetooth:hover { color: #0a3d91 !important; }
	.social-media a.buysellads:hover { color: #ba0202 !important; }
	.social-media a.cc-amex:hover { color: #016dd2 !important; }
	.social-media a.cc-diners-club:hover { color: #0069aa !important; }
	.social-media a.cc-discover:hover { color: #f88737 !important; }
	.social-media a.cc-jcb:hover { color: #29166f !important; }
	.social-media a.cc-mastercard:hover { color: #fe9611 !important; }
	.social-media a.paypal:hover { color: #012069 !important; }
	.social-media a.cc-stripe:hover { color: #49b802 !important; }
	.social-media a.cc-visa:hover { color: #1b4da2 !important; }
	.social-media a.chrome:hover { color: #edcd16 !important; }
	.social-media a.codepen:hover { color: #1b1c1b !important; }
	.social-media a.codiepie:hover { color: #000 !important; }
	.social-media a.connectdevelop:hover { color: #023cb0 !important; }
	.social-media a.contao:hover { color: #e4790f !important; }
	.social-media a.dashcube:hover { color: #000 !important; }
	.social-media a.edge:hover { color: #2c74be !important; }
	.social-media a.expeditedssl:hover { color: #2e2e2e !important; }
	.social-media a.firefox:hover { color: #df731b !important; }
	.social-media a.fonticons:hover { color: #1d1e2a !important; }
	.social-media a.fort-awesome:hover { color: #000 !important; }
	.social-media a.forumbee:hover { color: #85ac2f !important; }
	.social-media a.get-pocket:hover { color: #e84352 !important; }
	.social-media a.gg:hover { color: #fd0002 !important; }
	.social-media a.gratipay:hover { color: #653614 !important; }
	.social-media a.houzz:hover { color: #9bc545 !important; }
	.social-media a.internet-explorer:hover { color: #00bcf2 !important; }
	.social-media a.ioxhost:hover { color: #f6a814 !important; }
	.social-media a.lastfm:hover { color: #e2152b !important; }
	.social-media a.leanpub:hover { color: #231f20 !important; }
	.social-media a.meanpath:hover { color: #538dd6 !important; }
	.social-media a.medium:hover { color: #00ab6c !important; }
	.social-media a.mixcloud:hover { color: #040204 !important; }
	.social-media a.modx:hover { color: #8ed547 !important; }
	.social-media a.odnoklassniki:hover { color: #f68634 !important; }
	.social-media a.opencart:hover { color: #00c1f2 !important; }
	.social-media a.opera:hover { color: #e81617 !important; }
	.social-media a.optin-monster:hover { color: #8ed31e !important; }
	.social-media a.product-hunt:hover { color: #d6573d !important; }
	.social-media a.reddit:hover { color: #ff4500 !important; }
	.social-media a.safari:hover { color: #2973d9 !important; }
	.social-media a.scribd:hover { color: #382d29 !important; }
	.social-media a.sellsy:hover { color: #006ca2 !important; }
	.social-media a.shirtsinbulk:hover { color: #dd3a26 !important; }
	.social-media a.simplybuilt:hover { color: #322f34 !important; }
	.social-media a.skyatlas:hover { color: #01aebe !important; }
	.social-media a.slideshare:hover { color: #13999a !important; }
	.social-media a.stack-overflow:hover { color: #ef532a !important; }
	.social-media a.tripadvisor:hover { color: #1e892f !important; }
	.social-media a.twitch:hover { color: #6441a5 !important; }
	.social-media a.usb:hover { color: #000 !important; }
	.social-media a.viacoin:hover { color: #2376a2 !important; }
	.social-media a.whatsapp:hover { color: #44c254 !important; }
	.social-media a.wikipedia:hover { color: #0c0c0c !important; }
	.social-media a.y-combinator:hover { color: #ff6501 !important; }
	.social-media a.yelp:hover { color: #bf311b !important; }
	.social-media a.email:hover { color: #689c49 !important; }
	
	.social-media.default-color a:hover {
		color: #9f8c5f !important;
	}
	
/***********************************************************************************
 *	+ TIMELINE
 ***********************************************************************************/
	
	.timeline li:nth-child(even) {
		background-color: #1a0b03;
		color: #fff;
	}
	
	.timeline li:nth-child(even):before {
		border-color: #9f8c5f;
	}
	
	.timeline li:nth-child(even) h1,
	.timeline li:nth-child(even) h2,
	.timeline li:nth-child(even) h3,
	.timeline li:nth-child(even) h4,
	.timeline li:nth-child(even) h5,
	.timeline li:nth-child(even) h6 {
		color: inherit;
	}
	
	.timeline li .year {
		color: #9f8c5f;
	}
	
	.timeline li:nth-child(even) .year {
		background-color: #1a0b03;
		color: #9f8c5f;
	}
	
	.timeline li .year:before {
		content: url(../../images/symbol-4.png);
	}
	
	.timeline li .year:after {
		content: url(../../images/symbol-5.png);
	}
	
/***********************************************************************************
 *	+ COUNTDOWN
 ***********************************************************************************/
 
	.countdown {
		color: #261106;
	}
	
	.countdown > div > span {
		color: #9f8c5f;
	}
	
/***********************************************************************************
 *	+ PRICE PLAN
 ***********************************************************************************/

	.price-plan {
		border-color: #261106;
	}
	
	.price-plan:before,
	.price-plan:after {
		border-top-color: #261106;
	}
	
	.price-plan-header:before {
		content: url(../../images/symbol-2.png);
	}
	
	.price-plan-header h6 {
		color: #9f8c5f;
	}
	
	.price-plan ul {
		color: #261106;
	}
	
	.price-plan ul li:after {
		border-bottom-color: #261106;
	}
	
	.price-plan:hover {
		border-color: #9f8c5f;
	}
	
	.price-plan:hover:before,
	.price-plan:hover:after {
		border-color: #9f8c5f;
	}
	
	.price-plan:hover .price-plan-header h2 {
		color: #9f8c5f;
	}

/***********************************************************************************
 *	+ TESTIMONIALS
 ***********************************************************************************/
	
	blockquote {
		color: #261106;
	}
	
	.testimonial > h6 {
		color: #9f8c5f;
	}
	
	.testimonial blockquote {
		color: #595959;
	}
	
/***********************************************************************************
 *	+ FILTER
 ***********************************************************************************/
	
	.filter li a {
		border-color: transparent;
	}
	
	.filter li a:hover,
	.filter li a.active {
		border-color: #9f8c5f;
	}

/***********************************************************************************
 *	+ PAGINATION
 ***********************************************************************************/

	.pagination li a {
		background-color: transparent;
		color: #261106;
	}

	.pagination li a:hover,
	.pagination li.active a,
	.pagination li.active a:hover {
		background-color: transparent;
		color: #9f8c5f;
	}

	
/***********************************************************************************
 *	+ FULL SECTIONS
 ***********************************************************************************/
	
	.full-section-overlay-color {
		background-color: #261106;
	}
	
	
	/* ELEMENTS IN DARK SECTION */
	.full-section.dark-section {
		background-color: #261106;
		color: #fff;
	}
	
	.full-section.dark-section a,
	.full-section.dark-section h1,
	.full-section.dark-section h2,
	.full-section.dark-section h3,
	.full-section.dark-section h4,
	.full-section.dark-section h5,
	.full-section.dark-section h6,
	.full-section.dark-section blockquote {
		color: inherit;
	}
	
	.full-section.dark-section a:hover {
		color: #9f8c5f;
	}
	
	.full-section.dark-section .square-list li:hover {
		color: inherit;
	}
	
	.full-section.dark-section .square-list li:hover:before {
		border-color: inherit;
	}
	
	.full-section.dark-section .btn {
		border-color: #fff;
	}
	
	.full-section.dark-section .btn-default,
	.full-section.dark-section .btn-black {
		background-color: transparent;
	}
	
	.full-section.dark-section .btn-default:before {
		background-color: #9f8c5f;
	}
	
	.full-section.dark-section .btn-black:before {
		background-color: #261106;
	}
	
	.full-section.dark-section .btn-white:before {
		background-color: #fff;
	}
	
	.full-section.dark-section .btn-white:after {
		border-color: #fff;
	}
	
	.full-section.dark-section .btn-default:hover,
	.full-section.dark-section .btn-black:hover {
		color: #fff;
	}
	
	.full-section.dark-section .btn-white:hover:after {
		border-color: #9f8c5f;
	}
	
	.full-section.dark-section .btn-white:hover {
		color: #9f8c5f;
	}
	
	.full-section.dark-section .text-box.black .btn-default:hover:after,
	.full-section.dark-section .text-box.default-color .btn-default:hover:after,
	.full-section.dark-section .text-box.black .btn-black:hover:after,
	.full-section.dark-section .text-box.default-color .btn-black:hover:after {
		border-color: #fff;
	}
	
	.full-section.dark-section .image-box {
		color: #261106;
	}
	
	.full-section.dark-section .image-box h6 {
		color: #9f8c5f;
	}
	
	.full-section.dark-section .panel-title:hover,
	.full-section.dark-section .panel-title[aria-expanded="true"] {
		color: #fff;
	}
	
	.full-section.dark-section .price-plan,
	.full-section.dark-section .price-plan:before,
	.full-section.dark-section .price-plan:after {
		border-color: inherit;
	}
	
	.full-section.dark-section .price-plan .price-plan-header h6 {
		color: #9f8c5f;
	}
	
	.full-section.dark-section .price-plan ul {
		color: inherit;
	}
	
	.full-section.dark-section .price-plan ul li:after {
		border-bottom-color: inherit;
	}
	
	.full-section.dark-section .testimonial > h6 {
		color: #9f8c5f;
	}
	
	.full-section.dark-section .filter li a.active {
		color: #9f8c5f;
	}
	
	.full-section.dark-section .portfolio-item.classic {
		box-shadow: 0 -8px 49px 0 rgba(255, 255, 255, 0.13);
	}
	
	.full-section.dark-section .widget-pages ul li a:hover:before,
	.full-section.dark-section .widget-archives ul li a:hover:before,
	.full-section.dark-section .widget-metadata ul li a:hover:before,
	.full-section.dark-section .widget-categories ul li a:hover:before {
		border-color: #fff;
	}
	
	.full-section.dark-section .widget-search input[type="submit"] {
		background-image: url(../../images/search-white.png);
	}
	
	.full-section.dark-section .widget-calendar caption {
		color: inherit;
	}
	
	.full-section.dark-section .widget-recent-posts ul li .post-title {
		color: #9f8c5f;
	}
	
	.full-section.dark-section .widget-recent-posts ul li .post-title:hover {
		color: inherit;
	}
	
	.full-section.dark-section .widget-tags a:hover {
		background-color: #fff;
	}
	
	.full-section.dark-section .service-box-content h5 {
		color: #9f8c5f;
	}
	
	.full-section.dark-section .service-box-content h6 {
		color: #fff;
	}
	
	
	/* BACKROUNDS AND STYLE FOR FULL SECTIONS */
	#section-1 {
		border-top-color: #9f8c5f;
		border-bottom-color: #9f8c5f;
	}
	
	#section-1:before {
		background-color: #fff;
		content: url(../../images/symbol-3.png);
	}
	
	#section-2 {
		background-color: #f8f9fa;
	}
	
	#section-3 {
		background-image: url(../../../images/backgrounds/bg-1.jpg);
	}
	
	#section-4 {
		background-color: #f8f9fa;
	}
	
	#section-4 .hr.with-logo:after {
		background-color: #f8f9fa;
	}
	
	#section-5 {
		border-top-color: #9f8c5f;
	}
	
	#section-5:before {
		background-color: #fff;
		content: url(../../images/symbol-3.png);
	}
	
	#section-6 {
		background-color: #f8f9fa;
	}
	
	#section-6:before {
		background-color: #fff;
	}
	
	#section-7 {
		background-image: url(../../../images/backgrounds/bg-2.jpg);
	}
	
	#section-8 {
		background-color: #f8f9fa;
	}
	
	#section-9 {
		background-image: url(../../../images/backgrounds/bg-3.jpg);
	}
	
/***********************************************************************************
 *	+ SCROLL UP
 ***********************************************************************************/
	
	#scroll-up {
		border-color: #9f8c5f;
	}
	
	#scroll-up:hover {
		background-color: #9f8c5f;
		color: #fff;
	}

/***********************************************************************************
 *	+ SLIDERS
 ***********************************************************************************/
	
	/* REVOLUTION SLIDER */
	
	/* ARROWS */
	.tp-leftarrow.custom,
	.tp-rightarrow.custom {
		background-color: #261106;
	}
	
	.tp-leftarrow.custom:hover,
	.tp-rightarrow.custom:hover {
		background-color: #9f8c5f;
	}
	
	
	/* BULLETS */
	.tp-bullets.custom .tp-bullet {
		border-color: #fff;
		background-color: transparent;
	}

	.tp-bullets.custom .tp-bullet:hover,
	.tp-bullets.custom .tp-bullet.selected {
		border-color: #9f8c5f;
		background-color: #9f8c5f;
	}


	/* TYPOGRAPHY */
	.tp-caption.overlay {
		background-color: rgba(26, 11, 3, 0.8);
	}
	
	.tp-caption.title {
		color: #fff;
	}
	
	.tp-caption.big-title {
		color: #fff;
	}
	
	.tp-caption.subtitle {
		color: #fff;
	}
	
	.tp-caption.subtitle:after {
		border-bottom-color: #9f8c5f;
	}
	
	.tp-caption.text {
		color: #fff;
	}
	
	.tp-caption.link a {
		border-top-color: #fff;
		border-bottom-color: #fff;
		color: #fff;
	}
	
	.tp-caption.link a:hover {
		border-color: #9f8c5f;
		color: #9f8c5f;
	}
	
	.tp-caption .btn-white {
		color: #fff;
		border-color: #fff;
	}
	
	.tp-caption .btn-white:after {
		border-color: #fff;
	}


	/* OWL Carousel */
	.owl-dot {
		border-color: #9f8c5f;
		background-color: #fff;
	}
	
	.owl-dot:hover,
	.owl-dot.active {
		background-color: #9f8c5f;
	}
	
	.owl-prev,
	.owl-next {
		border-color: #261106;
		color: #261106;
	}
	
	.owl-prev:hover,
	.owl-next:hover {
		border-color: #9f8c5f;
		color: #9f8c5f;
	}
	
	.caption {
		background-color: #1a0b03;
		color: #fff;
	}
	
	.caption a:hover {
		color: #fff;
	}
	
	
	/* GALLERY SLIDER */
	.gallery-slider-container:before {
		border-color: #fff;
	}
	
	.gallery-slider-container:after {
		border-color: #fff;
	}
	
	
	/* ROOMS SLIDER */
	.rooms-slider {
		box-shadow: 0 -8px 49px 0 rgba(0, 0, 0, 0.13);
	}
	
	
	/* IMAGES SLIDER */
	.images-slider {
		border-color: #d3d7dd;
	}
	
/***********************************************************************************
 *	+ WIDGETS
 ***********************************************************************************/
	
	.widget-title:after {
		border-bottom-color: #9f8c5f;
	}
	
	
	/* WIDGET SERACH */
	.widget-search input[type="submit"] {
		background-image: url(../../images/search.png);
	}
	
	
	/* WIDGET LANGUAGES */
	.widget-languages > a {
		background-color: #30170a;
		color: #fff;
	}
	
	.widget-languages > a:hover {
		color: #9f8c5f;
	}
	
	.widget-languages > a:after {
		color: #9f8c5f;
	}
	
	.widget-languages ul {
		background-color: #30170a;
	}
	
	.widget-languages ul li a {
		color: #fff;
	}
	
	.widget-languages ul li a:hover {
		color: #9f8c5f;
	}
	
	
	/* WIDGET CATEGORIES */
	.widget-categories ul li {
		border-bottom-color: #d3d7dd;
	}
	
	.widget-categories ul li a {
		color: #261106;
	}
	
	.widget-categories ul li a:before {
		border-color: #9f8c5f;
	}
	
	.widget-categories ul li a:hover {
		color: #9f8c5f;
	}
	
	.widget-categories ul li a:hover:before {
		border-color: #261106;
	}
	
	
	/* WIDGET ARCHIVES */
	.widget-archives ul li {
		border-bottom-color: #d3d7dd;
	}
	
	.widget-archives ul li a {
		color: #261106;
	}
	
	.widget-archives ul li a:before {
		border-color: #9f8c5f;
	}
	
	.widget-archives ul li a:hover {
		color: #9f8c5f;
	}
	
	.widget-archives ul li a:hover:before {
		border-color: #261106;
	}
	
	
	/* WIDGET PAGES */
	.widget-pages ul li {
		border-bottom-color: #d3d7dd;
	}
	
	.widget-pages ul li a {
		color: #261106;
	}
	
	.widget-pages ul li a:before {
		border-color: #9f8c5f;
	}
	
	.widget-pages ul li a:hover {
		color: #9f8c5f;
	}
	
	.widget-pages ul li a:hover:before {
		border-color: #261106;
	}
	
	
	/* WIDGET METADATA */
	.widget-metadata ul li {
		border-bottom-color: #d3d7dd;
	}
	
	.widget-metadata ul li a {
		color: #261106;
	}
	
	.widget-metadata ul li a:before {
		border-color: #9f8c5f;
	}
	
	.widget-metadata ul li a:hover {
		color: #9f8c5f;
	}
	
	.widget-metadata ul li a:hover:before {
		border-color: #261106;
	}
	
	
	/* WIDGET TAGS */
	.widget-tags a {
		background-color: #9f8c5f;
		color: #fff;
	}
	
	.widget-tags a:hover {
		background-color: #261106;
	}
	
	
	/* WIDGET RECENT POSTS */
	.widget-recent-posts > ul li {
		border-bottom-color: #d3d7dd;
	}
	
	.widget-recent-posts > ul li .post-title {
		color: #261106;
	}
	
	.widget-recent-posts > ul li .post-title:hover {
		color: #9f8c5f;
	}
	
	
	/* WIDGET CALENDAR */
	.widget-calendar caption {
		color: #261106;
	}
	
	.widget-calendar table th, 
	.widget-calendar table td {
		border-top-color: #d3d7dd;
		border-left-color: #d3d7dd;
	}
	
	.widget-calendar table th:last-child, 
	.widget-calendar table td:last-child {
		border-right-color: #d3d7dd;
	}
	
	.widget-calendar table tr:last-child td {
		border-bottom-color: #d3d7dd;
	}
	
	.widget-calendar table td#today {
		background-color: #9f8c5f;
		color: #fff;
	}
	
	
	/* WIDGET TWITTER */
	.tweets-list ul li:before {
		color: #9f8c5f;
	}
	
	
	/* WIDGET CONTACT */
	.widget-contact ul li span {
		color: #9f8c5f;
	}
	
	.widget-contact ul li a {
		color: #595959;
	}
	
	.widget-contact ul li i {
		color: #9f8c5f;
	}
	
	
	/* WIDGET WEATHER */
	.weather-temperature > span {
		color: #9f8c5f;
	}
	
/***********************************************************************************
 *	+ PAGE LOADER
 ***********************************************************************************/
	
	.page-loading {
		background-color: #fff;
	}
	
/***********************************************************************************
 *	+ PAGE WRAPPER
 ***********************************************************************************/
 
 	#main-container {
		background-color: #fff; 
	}
 
/***********************************************************************************
 *	+ HEADER
 ***********************************************************************************/
/***********************************************************************************
 *	- HEADER TOP
 ***********************************************************************************/
 	
	#header-top {
		background-color: #1a0b03;
		color: #fff;
	}
	
	#header-top a,
	#header-top h1,
	#header-top h2,
	#header-top h3,
	#header-top h4,
	#header-top h5,
	#header-top h6,
	#header-top blockquote {
		color: inherit;
	}
	
	#header-top a:hover {
		color: #9f8c5f;
	}
	
	#header-top .widget-pages ul li a:hover:before,
	#header-top .widget-archives ul li a:hover:before,
	#header-top .widget-metadata ul li a:hover:before,
	#header-top .widget-categories ul li a:hover:before {
		border-color: #fff;
	}
	
	#header-top .widget-calendar caption {
		color: inherit;
	}
	
	#header-top .widget-tags a:hover {
		background-color: #fff;
	}
	
	#header-top .widget-languages > a {
		background-color: #30170a;
	}
	
/***********************************************************************************
 *	- LOGO
 ***********************************************************************************/
	
	#header #logo {
		background-color: #1a0b03;
	}
	
	#logo a {
		border-color: #fff;
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		#header #logo {
			background-color: transparent;
		}
		
	}
	
	@media (max-width: 767px) {
		
		#header #logo {
			background-color: transparent;
		}
		
	}

/***********************************************************************************
 *	- MENU
 ***********************************************************************************/
	
	.menu li a {
		border-bottom-color: #9f8c5f;
		color: #fff;
	}
	
	.menu > li > a {
		color: #261106;
	}
	
	.menu > li > a:before {
		border-color: #d3d7dd;
	}
	
	.menu li.dropdown ul {
		border-color: #30170a;
		background-color: #261106;
	}
	
	.menu li.megamenu .megamenu-container {
		border-color: #30170a;
		background-color: #261106;
	}
	
	.megamenu-container .section {
		border-right-color: #9f8c5f;
	}
	
	.menu > li > a:hover:before,
	.menu li.active > a:before, 
	.menu li.sfHover > a:before {
		border-color: #9f8c5f;
	}
	
	.menu ul li > a:hover,
	.menu ul li.sfHover > a {
		background-color: #9f8c5f; 
		color: #fff;
	}
	
/***********************************************************************************
 *	- MOBILE MENU
 ***********************************************************************************/	
	
	#mobile-menu-button {
		background-color: #261106;
		color: #fff;
	}
	
	#mobile-menu,
	#mobile-menu ul {
		background-color: #261106;
	}

	#mobile-menu {
		border-bottom-color: #fff;
	}
	
	#mobile-menu li a {
		border-top-color: #fff;
		color: #fff;
	}

	#mobile-menu .megamenu-container .section ul li:last-child a {
		border-bottom-color: #fff;
	}
	
	#mobile-menu #search-form-container {
		border-top-color: #fff;
	}
	
/***********************************************************************************
 *	- SEARCH
 ***********************************************************************************/
	
	.menu li.search {
		background-color: #9f8c5f;
	}
	
	.menu li.search a {
		color: #fff;
	}
	
	#search-form-container {
		background-color: rgba(26, 11, 3, 0.98);
	}
	
	#search-form {}
	
	#search-form #search {
		border-color: #fff;
		background-color: #fff;
		color: #525252;
	}
	
	#search-submit {
		background-image: url(../../images/search.png);
	}
	
	#search-form #s:focus { 
		border-color: #a1a1a1; 
	}
	
	#search-form-container a.search-form-close {
		border-color: #fff;
		color: #fff;
	}
	
	#search-form-container a.search-form-close:hover {
		border-color: #fff;
		background-color: #fff;
		color: #383838;
	}
 
/***********************************************************************************
 *	- STICKY
 ***********************************************************************************/

	#header-sticky {
		background-color: #fff;
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
	}

/***********************************************************************************
 *	- PAGE HEADER
 ***********************************************************************************/
	
	#page-header h2 {
		border-bottom-color: #d3d7dd;
	}
	
	#page-header h2:after {
		border-bottom-color: #9f8c5f;
	}
	
	#page-header h6 {
		color: #9f8c5f;
	}
	
	
	/* PAGE HEADER STYLE 2 */
	#page-header.style-2 {
		background-color: #e9edf4;	
	}

/***********************************************************************************
 *	+ FOOTER
 ***********************************************************************************/
/***********************************************************************************
 *	- FOOTER
 ***********************************************************************************/
 
 	#footer {
		background-color: #1a0b03;
		color: #fff;
	}
	
	#footer a,
	#footer h1,
	#footer h2,
	#footer h3,
	#footer h4,
	#footer h5,
	#footer h6,
	#footer blockquote {
		color: inherit;
	}
	
	#footer a:hover {
		color: #9f8c5f;
	}
	
	#footer .widget-title {
		border-bottom-color: #5b5b5d;
	}
	
	#footer .widget-pages ul li a:hover:before,
	#footer .widget-archives ul li a:hover:before,
	#footer .widget-metadata ul li a:hover:before,
	#footer .widget-categories ul li a:hover:before {
		border-color: #fff;
	}
	
	#footer .widget-calendar caption {
		color: inherit;
	}
	
	#footer .widget-tags a:hover {
		background-color: #fff;
	}
	
	#footer .widget-newsletter #newsletter-email {
		border-color: #5b5b5d;
	}
	
	#footer .widget-newsletter button[type="submit"] {
		border-left-color: #5b5b5d;
		background-color: transparent;
		color: #9f8c5f;
	}
	
	#footer .widget-newsletter button[type="submit"]:hover {
		border-color: #9f8c5f;
		background-color: #9f8c5f;
		color: #fff;
	}
	
	#footer .tweets-list ul li a {
		color: #9f8c5f;
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		#footer .widget-newsletter button[type="submit"] {
			border-color: #5b5b5d;
		}
		
	}
	
/***********************************************************************************
 *	- FOOTER BOTTOM
 ***********************************************************************************/
 
 	#footer-bottom {
		border-top-color: #9f8c5f;
		background-color: #1a0b03;
		color: #fff;
	}
	
	#footer-bottom:before {
		background-color: #1a0b03;
		content: url(../../images/symbol.png);
	}
	
	#footer-bottom a,
	#footer-bottom h1,
	#footer-bottom h2,
	#footer-bottom h3,
	#footer-bottom h4,
	#footer-bottom h5,
	#footer-bottom h6,
	#footer-bottom blockquote {
		color: inherit;
	}
	
	#footer-bottom a:hover {
		color: #9f8c5f;
	}
	
	#footer-bottom .widget-pages ul li a:hover:before,
	#footer-bottom .widget-archives ul li a:hover:before,
	#footer-bottom .widget-metadata ul li a:hover:before,
	#footer-bottom .widget-categories ul li a:hover:before {
		border-color: #fff;
	}
	
	#footer-bottom .widget-calendar caption {
		color: inherit;
	}
	
	#footer-bottom .widget-tags a:hover {
		background-color: #fff;
	}
	
	#footer-bottom .widget-pages ul li:after {
		color: #9f8c5f;
	}
	
/***********************************************************************************
 *	+ PAGES
 ***********************************************************************************/
/***********************************************************************************
 *	- SERVICES
 ***********************************************************************************/
	
	.service-box-hover {
		background-color: rgba(26, 11, 3, 0.9);
		background-image: url(../../images/symbol-2.png);
	}
	
	.service-box-hover a:hover {
		color: #fff;
	}
	
	.service-box-content {
		background-color: #fff;
		color: #261106;
	}
	
	.service-box-content h5 {
		color: #9f8c5f;
	}
	
	.service-box-content h6 {
		background-color: #261106;
		color: #fff;
	}
	
/***********************************************************************************
 *	- FACILITIES
 ***********************************************************************************/
	
	.restaurant-reputation {
		background-color: #1a0b03;
		color: #fff;
	}
	
	.restaurant-reputation:before,
	.restaurant-reputation:after {
		border-top-color: #1a0b03;
	}
	
	.restaurant-reputation:before {
		border-right-color: transparent;
	}
	
	.restaurant-reputation:after {
		border-left-color: transparent;
	}
	
/***********************************************************************************
 *	- GALLERY
 ***********************************************************************************/
	
	.portfolio-item-hover {
		background-color: rgba(26, 11, 3, 0.9);
		background-image: url(../../images/symbol-2.png);
	}
	
	.zoom-action:hover {
		color: #fff;
	}
	
	.portfolio-item-details h6 {
		color: #9f8c5f;
	}
	
	
	/* PORTFOLIO CLASSIC */
	.portfolio-item.classic {
		background-color: #fff;
		box-shadow: 0 -8px 49px 0 rgba(0, 0, 0, 0.13);
	}
	
	.portfolio-item.classic .portfolio-item-thumbnail h1 {
		background-color: #261106;
		color: #fff;
	}
	
	.portfolio-item.classic .portfolio-item-thumbnail h1 span {
		color: #9f8c5f;
	}
	
/***********************************************************************************
 *	- BLOG
 ***********************************************************************************/
 	
	/* BLOG ARTICLE */
	.blog-article-title:after {
		border-bottom-color: #d3d7dd;
	}
	
	.blog-article-title a:before {
		border-bottom-color: #9f8c5f;
	}
	
	.blog-article-details .date {
		color: #261106;
	}
	
	.blog-article-details .date:hover {
		color: #9f8c5f;
	}
	
	.blog-article-details .comments:hover {
		color: #261106;
	}
	
	/* BLOG POST COMMENT */
	.comment-author .fn {
		color: #261106;
	}
	
	.comment-author .fn:hover {
		color: #9f8c5f;
	}

/***********************************************************************************
 *	- CONTACT
 ***********************************************************************************/
	
	#contact-form label.error {
		color: #f24620;
	}
	
/***********************************************************************************
 *	- OFFERS
 ***********************************************************************************/
	
	.special-offers li a {
		border-color: #9f8c5f;
		color: #595959;
	}
	
	.special-offers li a:hover {
		background-color: #9f8c5f;
		color: #fff;
	}
	
/***********************************************************************************
 *	- BOOKING
 ***********************************************************************************/
	
	.room-price li a {
		color: #fff;
	}
	
	.room-price li a:hover {
		background-color: #261106;
	}
	
	.room-price li:nth-child(1) {
		border-color: #9f8c5f;
	}
	
	.room-price li:nth-child(2) {
		background-color: #9f8c5f;
	}
	
	.room-price li:nth-child(3) {
		background-color: #261106;
		color: #fff;
	}
	
	.booking {
		color: #261106;
		box-shadow: 0 -8px 49px 0 rgba(0, 0, 0, 0.13);
	}
	
	.booking p {
		color: #9f8c5f;
	}
	
	.booking select {
		border-color: #9f8c5f;
		background-image: url(../../images/arrow.png);
	}
	
	.date i {
		color: #9f8c5f;
	}
	
	.date input {
		border-color: #9f8c5f;
	}
	
	.date ::-moz-placeholder {
		color: #261106;
	}
	
	.date ::-webkit-input-placeholder {
		color: #261106;
	}
	
	.date :-ms-input-placeholder {
		color: #261106;
	}
	
	
	/* CALENDAR */
	.beatpicker {
		border-color: #9f8c5f;
		background-color: #fff;
	}
	
	.beatpicker .main-nav {
		background-color: transparent;
	}
	
	.beatpicker .main-nav a {
		color: #261106;
	}
	
	.beatpicker .main-nav .current-indicator {
		color: #261106;
	}
	
	.beatpicker .main-nav a:hover,
	.beatpicker .main-nav .nav-btn:hover,
	.beatpicker .main-nav .current-indicator:hover {
		background-color: transparent;
		color: #9f8c5f;
	}
	
	.beatpicker .days .cell-parent li.cell:hover,
	.beatpicker .days .cell-parent li.cell.selected-date:hover {
		background-color: #d3d7dd;
		color: #fff;
	}
	
	.beatpicker .days .cell-parent li.cell.selected-date {
		background-color: #d3d7dd;
		color: #fff;
	}
	
	.beatpicker .days .cell.notable-today {
		background-color: #9f8c5f;
	}